<H1>Main Site Administration</H1>

<H2>Import/Export Site to File System</H2>
<p>
Use these buttons to export to file system for source code control.
</p>
<p>
<%= render :partial => "button_export" %>
</p>
<p>
<%= render :partial => "button_import" %>
</p>