<H1>Main Administration</H1>

<%= button_to "Export Main Site To File System", export_main_path, :confirm => "Are you sure? This will wipe out previous on file copy" %>
<%= button_to "Import Main Site To File System", import_main_path, :confirm => "Are you sure? This will wipe out previous in memory copy" %>