<%= render :partial => "websites/edit_script" %>

<h2>Edit Information for Transportation Site</h2>
<div id="navigation" class="left">
  <%= render :partial => "websites/form_edit" %>
</div>
<div id="map" class=""></div>
<div class="clear"></div>
