<%= render :partial => "websites/new_script" %>

<script type="text/javascript">
</script>
  <h2>Create New Transportation Site</h2>
    <div id="navigation" class="left">
       <%= render :partial => "websites/form_new" %>
    </div>
    <div id="map" class=""></div>
<div class="clear"></div>
