<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Site</th>
    </tr>
  </thead>
  <tbody>
      <% @masters.each do |master| %>
          <tr>
            <td><%= link_to master.name, website_path(master) %></td>
            <td><%= link_to "#{master.siteurl}", master_active_path(master) %></td>
          </tr>
      <% end %>
  </tbody>
</table>