<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Customer</th>
      <th>Allowed to Edit their Web Pages</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @masters.each do |master| %>
          <%= render :partial => 'row_table_admin', :locals => { :master => master } %>
      <% end %>
  </tbody>
</table>