<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Customer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @masters.each do |master| %>
          <tr>
            <td><%= link_to master.name, website_path(master) %></td>
            <td><%= link_to "#{master.siteurl}", master_active_path(master) %></td>
            <td><%= link_to "#{master.owner.name}", customer_path(master.owner) %></td>
            <td><%= link_to "Delete", website_path(master), :class => "btn", :confirm => "Are you sure?", :method => :delete if customer_can?(:delete, master)%></td>
          </tr>
      <% end %>
  </tbody>
</table>