
#outer{
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;
  overflow-x: hidden;
  background-color:#EEE;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}


#statusbox {
  height : 2em;
}

#copybox {
  width: 22em;
}

#content {
  margin: 0 0 0 340px;
  width:100%;
  height:300px;
  border-top: 1px solid #DDD;
}

#navigation {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 320px;
  overflow-x: hidden;
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}

#map {
  min-height: 320px;
  margin-left: 330px !important;
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}

.stop_points_list {
  list-style: none;
  position: relative;
  top: 5px;
}
.route_plus {
  position: relative;
  top: -20px;
  left: 250px;
}

#stop_points_list img.marker {
  cursor: pointer;
  height: 24px;
}


#stop_points_list input[type='button'] {
  height: 20px;
  width: 20px;
  background-color:#EEE;
  horizontal-align : middle;
  border: 0;
}

#stop_points_list .add_waypoint {
  height: 20px;
  width: 20px;
  border: 0;
  background-image: url("/assets/add-waypoint.png");
  background-repeat: no-repeat;
  background-color:#EEE;
}

#stop_points ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#stop_points ul li {
  margin: 2px 0 6px 0;
  padding: 0;
  font-weight: bold;
  line-height: 30px; /* height of icon */
  background-repeat: no-repeat;
  background-position: 0 50%;
}

#stop_points ul li a {
  display: block;
  margin-left: 30px; /* width of icon + whitespace */
  padding-left: 20px;
  width: 30px;
  style-set: "std-button";
}

#stop_points input.box {
  display: inline-block;        /* inline with outer text */
  display-model: inline-inside; /* contains only inlines */
  width: 225px;
  style-set: "std-input";    /* all other visual and behavioral styles are
                                     derived from standard checkbox */
}

#stop_points_list input.via_del_image {
  background-image: url(/assets/delete-16x16.png);
  background-repeat: no-repeat;
}

#stop_points_list input.via_lock_image[data-locked='true'] {
  background-image: url(/assets/anchor-down.png);
  background-repeat: no-repeat;
}
#stop_points_list input.via_lock_image[data-locked='false'] {
  background-image: url(/assets/anchor-up.png);
  background-repeat: no-repeat;
}

/* Puts Refresh button at the same alignment as the text box to its left */
#refresh_kml {
  verticle-align: top;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.4;
}