<%= render :partial => "masters/deployments/map_script" %>
<%= render :partial => "masters/deployments/mapview" %>
<h4>Networks on this Deployment</h4>
<%= render :partial => "masters/deployments/table_networks" %>