
<%= render :partial => "masters/deployments/networks/table_info" %>
<%= render :partial => "masters/deployments/networks/table_processing" %>
<hr />
<P>
  <%= render :partial => "masters/deployments/networks/links" %>
</P>