<h1>Busme Administration</h1>

<h2>Websites Administration</h2>
<%= render :partial => "admin/websites_admin_link" %>

<h2>Busme Pages Administration</h2>
<%= render :partial => "admin/pages_admin_link" %>

<h2>Customers Administration</h2>
<%= render :partial => "admin/customers_admin_link" %>