

  <div class="row">
    <div class="span12">
      <div id="deployment-header"><%= @master.name %> Testament</div><%= render :partial => "clock" %>
    </div>
  </div>


  <%=  render(:partial => "masters/testament/map") %>