

  <div class="row">
    <div class="span12">
      <div id="deployment-header"><%= @master.name %> Testing Deployment Operation</div>
    </div>
  </div>


  <%=  render(:partial => "masters/testament/map") %>