<h2><%= link_to @network.name, master_municipality_network_path(@network, :master_id => @master.id, :municipality_id => @municipality.id) %></h2>
<H2>Routes</H2>
<%= render :partial => "masters/municipalities/networks/routes/table_routes" %>