<H3>Welcome to Planning for <%=  @municipality.name %></H3>


<table>
  <tr>
    <th>Name</th>
    <td><%= @municipality.name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= to_location_str(@municipality.location) %></td>
  </tr>
  <tr>
    <th>Owner</th>
    <td><%= @municipality.owner.name %></td>
  </tr>
</table>
