<h2>Edit Deployment</h2>

<%= render :partial => "masters/edit_script" %>
<div id="navigation" class="left">
  <%= render :partial => "masters/form_edit" %>
</div>
<div id="map" class=""></div>
<div class="clear"></div>
