<%= render :partial => "websites/new_script" %>

<h2>Create New Municipality Website</h2>
<div id="outer">
  <%= render :partial => "websites/form_new" %>

</div>
<div id="content">
  <div id="map"></div>
</div>

