<table>
  <tbody>
      <% @masters.each do |master| %>
          <tr>
            <td>Deployment:</td>
            <td><%= link_to master.name, master_path(master) %></td>
          </tr>
      <% end %>
  </tbody>
</table>