<h2>Manual Update Status</h2>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td><%= @journey_changed_count %> journeys have been manually changed since the plan was processed.</td>
      </tr>

      </tbody>
    </table>
    <p>
      <%= button_to "Download Plan", download_master_deployment_network_plan_path(@master, @deployment, @network), :class => "btn" %>
    </p>