<h1>Tools</h1>

<dl>
  <dt><%= link_to "Pathfinder", master_tools_pathfinder_path(@master) %></dt>
  <dd>
    This tool allows you to get lonlat coordinates (longitude, latitude) for points
    It also gives you the capability to create routes and get copy the KML document
    that you need to put
    into the CSV files for timing links.
  </dd>
</dl>