<h1>We welcome you as a new customer!</h1>
You are currently signed in as:
<%= render :partial => 'customer_registrations/authentications' %>
<br/>
<br/>
<%- render :partial => "customer_registrations/current_roles" %>

<p>Please edit account information and supply an email address and choose a different name if you like:</p>

<%= render 'customer_registrations/form_registration' %>
