<div class="user_nav">

  <% if current_customer %>
      <span class="signed-in">
        <div>
          <%= link_to current_customer.name, edit_customer_registration_path(current_customer) %>
          <%= link_to('Logout', destroy_customer_sessions_path,
                      :method => 'delete',
                      :class  => "lnk") %>
        </div>
        <%= image_tag("silhouette36.png") %>
      </span>
  <% else %>
      <span class="signed-out">
          <%= link_to('Sign in', customer_sign_in_path, :class => "btn")  %>
      </span>
  <% end %>
</div>