<div class="user_nav">

  <% if customer_signed_in? %>
      <%= link_to('Logout', destroy_customer_session_path, :method=>'delete',
                  :class => "logout") %>
  <% else %>
      <%= link_to('Customer Login', customers_sign_in_path, :class => "login")  %>
  <% end %>
</div>