<div class="user_nav">

  <% if customer_signed_in? %>
      <%= link_to('Logout', destroy_customer_sessions_path, :method=>'delete',
                  :class => "logout") %>
      <%= link_to current_customer.name, edit_customer_registration_path(current_customer) %>
  <% else %>
      <%= link_to('Customer Login', customer_sign_in_path, :class => "login")  %>
  <% end %>
</div>