
<div id="activePlanView">
    <!--
     Header
     Map      Routes
    -->
    <div class="header row">

      <div class="span7">
        <h3>Map</h3>
      </div>

      <div class="span5">
        <h3>Routes</h3>
      </div>

    </div>

    <div class="body row">

      <!--
      Map     RoutesView
      Clock   BackButton
      -->
      <div class="mapView span7">
        <div id="map" class="smallmap activePlanMapView"></div>
        <div id="sim_clock" class="activePlanClock"></div>
      </div>

      <div class="routesView span5">
            <div id="routesView" class="activePlanRoutesView"></div>
            <a id="back" href="#" class="activePlanBackButton btn">Back</a>
      </div>
    </div>

</div>