
<div id="activePlanView">
    <!--
     Header
     Map      Routes
    -->
    <div class="row">

      <DIV class="span9">
        <h3>Map</h3>
      </DIV>

      <DIV class="span6">
        <h3>Routes</h3>
      </DIV>

    </div>

    <div class="row">

      <!--
      Map     RoutesView
      Clock   BackButton
      -->
      <DIV class="span9">
        <div id="map" class="smallmap activePlanMapView"></div>
        <div id="sim_clock" class="activePlanClock"></div>
      </DIV>

      <DIV class="span6">
        <div class="row">
          <div class="span6">
            <div id="routesView" class="activePlanRoutesView"></div>
          </div>
        </div>
        <div class="row">
          <div class="span1">
            <a id="back" href="#" class="activePlanBackButton">Back</a>
          </div>
        </div>
      </div>
    </div>

</div>