<%= render :partial => "masters/municipalities/networks/vehicle_journeys/map_script" %>
<h3>Journey</h3>
<%= render :partial => "masters/municipalities/networks/vehicle_journeys/table_vehicle_journey" %>
<%= render :partial => "masters/municipalities/networks/vehicle_journeys/mapview" %>
<%= render :partial => "masters/municipalities/networks/vehicle_journeys/table_timing_links" %>