<H3>Copy Network to Deployment</H3>
<p>
You can only copy a network to a deployment that does not have a network with the same routes.
Your network will be renamed by adding an integer if it there is an existing network
with the same name in the destination deployment.
</p>
<%=  render :partial => "masters/municipalities/networks/form_copy" %>