<h2>Network</h2>
<%=  render :partial => "errors"  %>
<%= render :partial => "table_info" %>
<h3>Content</h3>
<%= render :partial => "table_content" %>
<%= render :partial => "table_processing" %>
<hr />
<P>
  <% render :partial => "links" %>
</P>