
<%= render :partial => "masters/municipalities/networks/table_info" %>
<%= render :partial => "masters/municipalities/networks/table_processing" %>
<hr />
<P>
  <%= render :partial => "masters/municipalities/networks/links" %>
</P>