<table>
  <tr>
    <th>Services</th>
    <td><div id="services_count"><%= @network.services.count %></div></td>
  </tr>
  <tr>
    <th>Routes</th>
    <td><div id="routes_count"><%=  @network.routes.count %></div></td>
  </tr>
  <tr>
    <th>Journeys</th>
    <td><div id="vj_count"><%=  @network.vehicle_journey_count %></div></td>
  </tr>
</table>