<%= render :partial => "masters/municipalities/map_script" %>
<%= render :partial => "masters/municipalities/mapview" %>
<h4>Networks on this Deployment</h4>
<%= render :partial => "masters/municipalities/table_networks" %>