<div class="row-fluid">
  <div class="span7">
    <h3>Map</h3>
  </div>
  <div class="span4">
    <h3>Networks</h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div id="map" class="smallmap">
    </div>
  </div>
  <div class="span4">
    <div id="routesView" class="listview">
    </div>
  </div>
</div>