
  <div class="row-fluid">
    <div class="span12">
      <div id="deployment-header"><%= @master.name %></div>
      <%= render :partial => "masters/active/clock" %>
    </div>
  </div>


  <%=  render(:partial => "masters/active/map") %>