/*
*= require jquery.jscrollpane
*= require bootstrap
*= require layout-default-latest
*= require sitemapstyler
*= require_self
*/

@import "bootstrap";

// Overriding Bootstrap for the x close button to show up within the message at the
// right side
.alert .close {
  position: relative;
  top: -2px;
  right: 0px;
  line-height: 18px;
}

header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

header nav ul li {
  display: inline;
}

#flash_notice, #flash_alert, #flash_error, #flash_inert {
  padding: 5px 8px;
  margin: 10px 1px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert, #flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_inert {
}

#notices {
  margin-top: 5px;
}

#application-header {
  text-align: center;
  font-weight: bold;
  color : blue;
  font-size:  200%;
}

.edit_municipality input[type=text], textarea {
  width : 30em;
}

.edit_municipality textarea  {
  height : 5em;
}

// Kill bottom margin on bootstrap form
form.button_to {
  margin: 0 0;
}

// Matches a[href] from style.css
input.btn[type=submit] {
  color: #436976;
}

// We need @import "boostrap" so we can use this Sass @extend directives
// This class is needed because client_side_validations needs a single class
// name to deal with handing error messages and styling. Typically we would
// use just class="control-group error", but that won't work, unless we put
// a fix in the rails.client_side_validations javascript.
.control-group-error {
  @extend .control-group;
  @extend .error;
}

.smallmap {
  height: 30em;
}

.listview {
  height: 30em;
}