/*
*= require jquery.jscrollpane.css
*= require jquery.jscrollpane.lozenge.css
*= require layout-default-latest
*= require bootstrap
*= require bootstrap-responsive
*= require sitemapstyler
*= require_self
*/

@import "bootstrap";

// Overriding Bootstrap for the x close button to show up within the message at the
// right side
.alert .close {
  position: relative;
  top: -2px;
  right: 0px;
  line-height: 18px;
}

header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

header nav ul li {
  display: inline;
}

#flash_notice, #flash_alert, #flash_error, #flash_inert {
  padding: 5px 8px;
  margin: 10px 1px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert, #flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_inert {
  background-color: white;
  border: 0px
}

#notices {
  margin-top: 5px;
  margin-left: 20%;
  width: 60%;
}

#application-header {
  text-align: center;
  font-weight: bold;
  color : blue;
  font-size:  200%;
}

.edit_deployment input[type=text], textarea {
  width : 30em;
}

.edit_deployment textarea  {
  height : 5em;
}

// Kill bottom margin on bootstrap form
form.button_to {
  margin: 0 0;
}

// Matches a[href] from style.css
input.btn[type=submit] {
  color: #436976;
}

// We need @import "boostrap" so we can use this Sass @extend directives
// This class is needed because client_side_validations needs a single class
// name to deal with handing error messages and styling. Typically we would
// use just class="control-group error", but that won't work, unless we put
// a fix in the rails.client_side_validations javascript.
.control-group-error {
  @extend .control-group;
  @extend .error;
}

.smallmap {
  height: 30em;
}

.listview {
  height: 30em;
}


.user_nav {
  float: right;
  font-size: 12px;
  margin-top : -1px;
}
.user_nav .signed-in {
  vertical-align: baseline;
}

.user_nav .signed-in > div {
  float: left;
}

.user_nav .signed-in a {
  display: block;
  text-align: right;
  line-height: 130%;
  color: gray;
  text-decoration: none;
}

.user_nav .signed-in a:hover {
  text-decoration: underline;
}

.user_nav .signed-in img {
  vertical-align: middle;
  border: 1p solid #ACACAC;
  margin-left: 8px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}