/*
 *= require OpenLayers-2.11/theme/default/style
 *= require activePlanView
 *= require_self
 */

#routes_log {
  height: 5em;
}

td.route_code {
  float: right;
}

.items.logview {
  height: 20em;
}