<h2>Planning Network <%= @network.name %></h2>
Welcome <%= current_muni_admin.name %>
<p>
  <%= link_to "Upload Definition", upload_plan_networkplan_path(:muni => @muni.slug, :network => @network) %>
</p>
<P>
  <%= link_to "All", plan_networks_path(:muni => @muni.slug) %>
</P>