
<script type="text/javascript">
    var basket;
    var view;
</script>

<script>
    $(function() {
        $("body").layout({ applyDefaultStyles: true });
        // initialize scrollable with mousewheel support
        $("#routesView").scrollable({ vertical: true, mousewheel: true, keyboard : true, easing: "swing" });
        var scroll = $("#routesView").data("scrollable");
        var api = new BusPassAPI( { loginUrl : '<%= api_deployment_path(@deployment) %>' });
        view = new BusPass.ActivePlanController( {
            scope : this,
            busAPI : api,
            onRouteSelected : function( route ) {
                scroll.addItem($("<div class='item' style='color:red'>Route Selected: " + route.getCode() + " " +route.getName() + "</div>"));
            },
            onRouteUnselected : function( route ) {
                scroll.addItem($("<div class='item' style='color:blue'>Route Unselected: " + route.getCode() + " " +route.getName() + "</div>"));
            },
            onRouteHighlighted : function( route ) {
                scroll.addItem($("<div class='item' style='color:green'>Route Highlighted: " + route.getCode() + " " +route.getName() + "</div>"));
            },
            onRouteUnhighlighted : function( route ) {
                scroll.addItem($("<div class='item' style='color:black'>Route Unhighlighted: " + route.getCode() + " " +route.getName() + "</div>"));
            }
        });
        view.mapView($("#map")[0]);
        view.listView($("#routesView .items"));
        view.backButton($("#back"));
        basket = new BusPass.JourneyBasket();
        basket.busAPI = api;
        basket.journeyStore = new BusPass.JourneyStore();
        basket.onJourneyAddedListener =  {
            onJourneyAdded : function (basket, r) {
                console.log("Route Added! " + r.getName() + " : " + r.getId());
                view.addRoute(r);
            }
        };

        basket.onJourneyRemovedListener = {
            onJourneyRemoved : function (basket, r) {
                view.removeRoute(r);
            }
        };

        basket.onBasketUpdatedListener = {
            onBasketUpdated : function (basket) {
                console.log("Basket Updated");
            }
        };

        basket.onIOErrorListener = {
            onIOError : function(basket, ioe) {
                console.log("Basket IO Error: " + ioe.message);
            }
        };

        basket.progressListener = {
            onSyncStart : function () {
                console.log("Basket: SyncStart");
            },
            onSyncEnd : function (nRoutes) {
                console.log("Basket: SyncEnd");
            },
            onRouteStart : function (iRoute) {
                console.log("Basket: StartRoute " + iRoute);
            },
            onRouteEnd : function (iRoute) {
                console.log("Basket: EndRoute " + iRoute);
            },
            onDone : function () {
                console.log("Basket: Done.");
            }
        };
        api.login(function() {
            basket.onCreate();
            basket.onStart();
            basket.onResume();
        });
    });
</script>

<DIV class="ui-layout-north">North</DIV>
<DIV class="ui-layout-center">
  <div class="row">
    <div class="span16">
      <h2><%= link_to @master.name, deployment_path(@deployment) %></h2>
    </div>
  </div>
  <div class="row">
    <DIV class="span9">
      <h3>Map</h3>
    </DIV>
    <DIV class="span6">
      <h3>Routes</h3>
    </DIV>
  </div>
  <div class="row">
    <DIV class="span9">
      <div id="map" class="smallmap">
      </div>
      <div id="sim_clock"></div>
    </DIV>

    <DIV class="span6">
      <div class="row">
        <div class="span4">
        </div>
        <div class="span2 scroll_actions">
          <a class="prev">&laquo; Up</a>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div id="routesView" class="scrollable vertical">
            <div class="items">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
        </div>
        <div class="span2 scroll_actions">
          <a id="back" href="#">Back</a>
          <a class="next">Down &raquo;</a>
        </div>
      </div>
    </div>
  </div>
<DIV class="ui-layout-south">South</DIV>