<h2><%= link_to @network.name, master_municipality_network_path(@master, @municpality, @network) %></h2>
<h3><%= link_to "Service #{@service.name}",
                master_municipality_network_service_path(@master, @municpality, @network, @service) %></h3>
<%= render :partial => "table_service" %>

<h4>Vehicle Journeys on this Service and Route</h4>
<%= render :partial => "table_journeys" %>