<% if @services.count == 0 %>
 <p>
   There are no services established for this Network. You must plan the network.
 </p>
 <p>
   <%= link_to "Plan Network", master_municipality_network_plan_path(@master, @municipality, @network), :class => "btn" %>
 </p>
<% else %>
  <%= render :partial => "table_services" %>
<% end %>