<h2><%= link_to @network.name, master_deployment_network_path(@master, @deployment, @network) %></h2>
<h3><%= link_to "Route: #{@route.name}", master_deployment_network_route_path(@master, @deployment, @network, @route) %></h3>

<%= render :partial => "masters/deployments/networks/routes/table_route_services" %>